<h1>CADASTRAR USUARIO</h1>
<form action="/usuarios" method="post">
    <p>Nome</p>
    <input type="text" name="nome">
    <p>Email</p>
    <input type="email" name="email">
    <p>CPF</p>
    <input type="varchar" name="cpf">
    <button type="submit"> Cadastrar Usuario </button>
</form>